@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<div class="row">
    <div class="col-md-12 text-center bg-white rounded" style="margin:auto;width:50%;">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            <h2>Créer un compte.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Nom" class="form-control" autocomplete="nom" aria-required="true" />
                <label asp-for="Input.Nom"></label>
                <span asp-validation-for="Input.Nom" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                            <input asp-for="Input.Prenom" class="form-control" autocomplete="prenom" aria-required="true" />
                            <label asp-for="Input.Prenom"></label>
                            <span asp-validation-for="Input.Prenom" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                            <input asp-for="Input.Age" class="form-control" autocomplete="age" aria-required="true" />
                            <label asp-for="Input.Age"></label>
                            <span asp-validation-for="Input.Age" class="text-danger"></span>
            </div>
       
            <br />
            <div class="form-floating">
                           
                <select asp-for="Input.Specialité" class="form-control" autocomplete="specialité" aria-required="true" asp-items=@Model.Specialités></select>
                <label asp-for="Input.Specialité"></label>
                          
                            <span asp-validation-for="Input.Specialité" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Classe" class="form-control" autocomplete="classe" aria-required="true" />
                <label asp-for="Input.Classe"></label>
                <span asp-validation-for="Input.Classe" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                            <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" />
                            <label asp-for="Input.PhoneNumber"></label>
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br />
          
          
            <br />
            <div>
              
                <input asp-for="Input.CreateClub" class="form-check-input" />
                <label asp-for="Input.CreateClub" class="form-check-label"></label>
                <span asp-validation-for="Input.CreateClub" class="text-danger"></span>

            </div>
<br />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-dark">S'inscrire</button>

        </form>
    </div>
 
</div>
<br />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
