@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Club>

@inject UserManager<ApplicationUser> _userManager

@{
    int Nombres = 0;
    int NombreActivite = 0;
    int NombreEvenement = 0;
    foreach(var club in Model)
    {
        if(club.Id == ViewBag.UserClub)
        {
            Nombres = club.Membres.Count();
            NombreActivite = club.Activités.Count();
            NombreEvenement = club.Evenements.Count();
        }
    }

}






<div class="container-fluid">
    <h3 class="text-center text-white">Bienvenu Président ! </h3>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;background: linear-gradient(45deg,#abbaab,#ffffff)">
                <div class="card-header bg-dark text-white">Nombre de Membres</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Nombre de Membres : @Nombres </h5>
                    <p class="card-text"> Vous verrez ici le nombres de membres de votre club.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;background: linear-gradient(45deg,#abbaab,#ffffff)">
                <div class="card-header bg-dark text-white">Nombre d'activités</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Nombre d'activités : @NombreActivite</h5>
                    <p class="card-text">Vous verrez ici le nombres d'activité de votre club'.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-dark mb-3" style="max-width: 18rem;background: linear-gradient(45deg,#abbaab,#ffffff)">
                <div class="card-header bg-dark text-white">Nombre d'evenement</div>
                <div class="card-body text-dark">
                    <h5 class="card-title">Nombre d'evenement : @NombreEvenement</h5>
                    <p class="card-text">Vous verrez ici le nombres d'evenement de votre club</p>
                </div>
            </div>
        </div>
    </div>

</div>


