@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To TekClub platform</h1>
    <br/>
    <br/>
    <br />
    <img src="~/imageslogo/BnoB.png" style="width:600px;" />
</div>
