
<div class="container-fluid" >
    <div class="row" style="background:url('@Url.Content("~/imageslogo/colorful.jpg")') no-repeat center ; background-size:cover; height:500px;">
        <h2 class="text-center text-white">Bienvenu sur votre espace Membre</h2>
        <p class="text-center text-white">A partir d'ici vous pouvez consulter les activités et evenements de votre club</p>
        <p class="text-center text-white">et participer au salon de discussion</p>
  </div>
   
    <div class="row">
       

    </div>

</div>
